
  ol {
    list-style-position: inside;
    display: inline;
    overflow: auto;

    }

h2{
  text-align: center;
  
}


    /*----------------------------------------Columns----------------------------*/
     .container {
     width: 100%;
     max-width: 1140px;
     margin: 15px auto;
     }
     .col, .rowone, .rowtwo {
      width: 100%;
      }
      .middle {
      float: left
      }
      .left {
      float: right
      }
      .rowtwo {
      float: left
      }

    /* -------------------------------Style the counter cards-------------------- */
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 16px;
      text-align: center;
      background-color: #f1f1f1;
    }
     

       /*---------------------------------------footer--------------------------*/
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(48, 44, 44);
    color: white;
    text-align: right;
  }


  /*-------------------------media Queries----------------------------------*/
  
 /*---------------------------columns-------------------------------------*/    

    
    @media (min-width: 1000px) {
    .col {
    margin-bottom: 10px
    }
    .rowone {
    width: 60%;
    float: left;
    }
    .rowtwo {
    width: 40%;
    float: right;
    }
    .middle {
    float: right;
    width: 66.6%;
    background: white;
    }
    .left {
    float: left;
    width: 32%;
    background: white;
    }
    .right {
    float: left;
    width: 100%;
    background: white;
    margin-bottom: 30px;;
    }
  }
