*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }



/*--------------------------------------got rid of white space above navbar--------------*/
  .platypusHeader {
    margin: 0;
  }
  

/*----------------------basic styling--------------*/

  body {
    font-family: 'Nunito', sans-serif;
    color: black;
    display: flex;
    flex-direction: column; 
    height: 50vh; 
    margin:0;
  }


  main {
    flex: 1 0 auto; 
  }
  
  
  div {
    text-align: center;
  }
  
  
  
  p {
    text-align: center;    
    color: black;
    max-width: 1000px;
    margin: 10px auto;
    padding: 10px 50px;
    border-radius: 8px;
    text-align: center;
  }
  

  
  h1 {
    margin: 0 0 30px 0;
    text-align: center;
    max-width: 100%;
    margin: 10px auto;
    padding: 10px 20px;
    background: white;
    border-radius: 8px;
    color: black;
  }


h2 {
  margin: 0 0 30px 0;
  text-align: center;
  max-width: 100%;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 8px;
  background: white;
}


  h3{
    margin: 0 0 30px 0;
    text-align: center;
    max-width: 100%;
    margin: 10px auto;
    padding: 10px 20px;
    background: white;
    border-radius: 8px;
  }

  


 

  /*-------------------------------------Form----------------------*/
  
  form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: silver;
    border-radius: 15px;
    margin-bottom: 50px;
    border: solid;
    border-color: red;
  }
  
    /*-------------------------------------Buttons----------------------*/
  

    .otherButtons {
      padding: 19px 39px 18px 39px;
      color: red;
      background-color: silver;
      font-size: 18px;
      text-align: center;
      font-style: normal;
      border-radius: 5px;
      width: 100%;
      max-width: 300px;
      border: 1px solid red;
      border-width: 1px 1px 3px;
      box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
      margin-bottom: 10px;
    }
  

    /*--------------------------input fields Signup---------------------*/

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="favorite"],
  textarea, 
  select {
    background: white;
    border: solid;
    border-color: red;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: black;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
  }
  
  
  



/*---------------------------------------------------------------------position the character sort buttons----------------------------*/
.allBtn{
  text-align: center;
}

        
/*-----------------Prime's picks sort comics by character-----------*/       

.filterDiv {
float: left;
background-color: black;
color: #ffffff;
width: 300px;
height: 400px;  
line-height: 100px;
text-align: center;
margin: 10px;

display: none;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
padding: 16px;
text-align: center;
}


.show {
display: block;
}


.container {
margin-top: 20px;
overflow: hidden;
}






    /*----------------------------------- Style the buttons -----------------------------------*/
    .btn {
      border: none;
      outline: none;
      padding: 12px 16px;
      background-color: #f1f1f1;
      cursor: pointer;
    }
    
    .btn:hover {
      background-color: #ddd;
    }
    
    .btn.active {
      background-color: silver;      
      color: red;
    }
    
    .btnContainer {
      background-color: white;
      color: black;
      width: 100%;
      line-height: 100px;
      margin: 2px;
      text-align: center;
    }
    

/*------------------------link colors-------------------------*/
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;

}


/*-------------------footer------------------*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(48, 44, 44);
  color: white;
  text-align: center;
  
}

/*---------------footer contacts---------*/

ul#contact li {
  display:inline;
}

 /*contact icons*/
 .fa {

  text-align: center;
  text-decoration: none;
  margin: 5px 2px;

}

.fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
            
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }



/*------------------------------------------columns----------------------------------*/
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float columns side by side */
.column {
  float: left;
  width: 33%;
  padding: 0 10px;
  background-color: white;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



  /*----------------------------------Media Queries-----------------------------------------------  */

/* small devices */
@media only screen and (max-width: 300px) {
  h1 {
  margin: 0 0 30px 0;
  text-align: center;
  max-width: 100px;
  margin: 10px auto;
  padding: 10px 20px;
  background: white;
  border-radius: 8px;
  font-size: 5px;
  }
}




/* -------------------------------------medium devices  */

@media only screen and (min-width: 900px) {
  h1 {
      margin: 0 0 30px 0;
      text-align: center;
      max-width: 100%;
      margin: 10px auto;
      padding: 10px 20px;
      background: white;
      border-radius: 8px;
      font-size: 10px;
      color: black;
  }
  }

  
@media only screen and (min-width: 900px) {
      h2 {
          margin: 0 0 30px 0;
          text-align: center;
          max-width: 100%;
          margin: 10px auto;
          padding: 10px 20px;
          border-radius: 8px;
          background: white;
  }
}


/*---------------------------------------- large devices  */

@media only screen and (min-width: 1200px) {
  h1 {
      margin: 0 0 30px 0;
      text-align: center;
      max-width: 100%;
      margin: 10px auto;
      padding: 10px 20px;
      background: white;
      border-radius: 8px;
      font-size: 10px;
      color: black;
  }
  }
  
@media only screen and (min-width: 1200px) {
      h2 {
          margin: 0 0 30px 0;
          text-align: center;
          max-width: 100%;
          margin: 10px auto;
          padding: 10px 20px;
          border-radius: 8px;
          background: white;
  }
}

 

      /*-------------------------------------------------- Responsive columns ----------------------------------------------------------*/
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


        /*----------------------------------- Responsive layout  stacks the columns----------------------------------- */
        @media screen and (max-width: 600px) {
          .column {
            width: 100%;
          }
        }


/*----------------------------------------attempts to keep tiles centered=---------------------------*/ 
        @media screen and (max-width: 1000px) {        
.filterDiv {
  margin-right: 50px;
  }
}  

  @media screen and (max-width: 800px) {        
    .filterDiv {
      margin-right: 25px;
      }
    }

    @media screen and (max-width: 700px) {        
      .filterDiv {
        margin-right: 5px;
        }
      }

      @media screen and (max-width: 600px) {
        .filterDiv {
          margin-right: 20%;
          }
        }
  
            /*---------------------------signup form----------------------*/
    @media screen and (min-width: 500px) {
    .signup {
      background-color: silver;
      color: black;
      max-width: 500px;
    }
  
  }
