*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }


  
  /*-----------------------------------top 10 movie list--------------------------------------*/
  
    ol {
      margin: 0;
      padding: 0;
      overflow: hidden;
      max-width: 300px;
      margin: 10px auto;
      padding: 10px 20px;    
      border-radius: 8px;
    }
    
    
    ol li {
      color: black;
      text-align: left;
      padding: 14px 16px;
    }
      
  
/*--------------------------------------got rid of white space above navbar--------------*/
  .platypusHeader {
    margin: 0;
  }
  
  /*---------------------------------------footer--------------------------*/
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(48, 44, 44);
    color: white;
    text-align: right;
  }
  
  
  body {
    font-family: 'Nunito', sans-serif;
    color: black;
    display: flex;
    flex-direction: column; 
    height: 100vh; 
    margin:0;
  }
  
  main {
    flex: 1 0 auto; 
  }
  
  
  div {
    text-align: center;
  }
  
  
  h1 {
    margin: 0 0 30px 0;
    text-align: center;
    max-width: 100%;
    margin: 10px auto;
    padding: 10px 20px;
    background: white;
    border-radius: 8px;
    color: black;
  }
  
  p {
    color: black;
    max-width: 1000px;
    margin: 10px auto;
    padding: 10px 50px;
    border-radius: 8px;
    text-align: center;
  }
  
  h2 {
    margin: 0 0 30px 0;
    text-align: center;
    max-width: 100%;
    margin: 10px auto;
    padding: 10px 20px;
    background: white;
    border-radius: 8px;
  }

  h6{
    margin: 0 0 30px 0;
    text-align: center;
    max-width: 100%;
    margin: 10px auto;
    padding: 10px 20px;
    background: white;
    border-radius: 8px;
  }
  
  p2 {
    color: orange;
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: black;
    border-radius: 8px;
    text-align: center;
  }

  /*-------------------------------------Forms & buttons Index & Become a Platypus pages----------------------*/
  
  form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: silver;
    border-radius: 15px;
    margin-bottom: 50px;
    border: solid;
    border-color: teal;
  }
  
    /*-------------------------------------Buttons Index & Become a Platypus pages----------------------*/
  

    .otherButtons {
      padding: 19px 39px 18px 39px;
      color: white;
      background-color: teal;
      font-size: 18px;
      text-align: center;
      font-style: normal;
      border-radius: 5px;
      width: 100%;
      max-width: 300px;
      border: 1px solid black;
      border-width: 1px 1px 3px;
      box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
      margin-bottom: 10px;
    }
  
  /*--------------------------input fields Random & Signup---------------------*/

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="favorite"],
  input[type="randomMovie"],
  textarea, 
  select {
    background: white;
    border: solid;
    border-color: teal;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: black;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
  }
  
  
  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }
  


  .signup {
    background-color: silver;
    color: black;
    max-width: 300px;
  }
    
    
    
    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100%;
      width: 100%;
      transform: translate(-50%, -50%);
      font-size: 300%;
      color: limegreen;
    }
    
    /*---------------------------signup form----------------------*/
    @media screen and (min-width: 500px) {
    .signup {
      background-color: silver;
      color: black;
      max-width: 500px;
    }
  