
  
h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

p {
  text-align: center;
  margin: 10px;
  }
 

  /*----------------------------------- 2 column layout index.html----------------------------------- */
 
  * {
    box-sizing: border-box;
  }
  
  /*----------------------------------- Create two equal columns that floats next to each other----------------------------------- */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }

  
  
  /*----------------------------------- Clear floats after the columns----------------------------------- */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

/*---------------------------------------------------------------------position the buttons----------------------------*/
.allBtn{
  text-align: center;
}


 

  /*-------------------styles the sort tiles---------------*/
  p1 {
    text-align: center;
    float: left;
    max-width: 50%;
    max-height: 80%;
    margin-bottom: 10px;
    }
    
    p2 {
        text-align: center;
        float: right;
        max-width: 50%;
        max-height: 80%;
        margin-bottom: 10px;
        }
        

.filterDiv {
float: left;
background-color: teal;
color: #ffffff;
width: 300px;
height: 400px;  
line-height: 100px;
text-align: center;
margin: 10px;

display: none;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
padding: 16px;
text-align: center;
}


    /* -------------------------------Style the counter cards-------------------- */
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 16px;
      text-align: center;
      background-color: #f1f1f1;
    }
     


.show {
display: block;
}


.container {
margin-top: 20px;
overflow: hidden;
}


/*-------------------footer------------------*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(48, 44, 44);
  color: white;
  text-align: right;
  
}




    /*----------------------------------- Style the buttons -----------------------------------*/
    .btn {
      border: none;
      outline: none;
      padding: 12px 16px;
      background-color: #f1f1f1;
      cursor: pointer;
    }
    
    .btn:hover {
      background-color: #ddd;
    }
    
    .btn.active {
      background-color: silver;      
      color: teal;
    }
    
    .btnContainer {
      background-color: white;
      color: black;
      width: 100%;
      line-height: 100px;
      margin: 2px;
      text-align: center;
    }
    

/*------------------------link colors-------------------------*/
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;

}

        /*----------------------------------- Responsive layout  stacks the columns----------------------------------- */
        @media screen and (max-width: 600px) {
          .column {
            width: 100%;
          }
        }


/*----------------------------------------attempts to keep tiles centered=---------------------------*/ 
        @media screen and (max-width: 1000px) {        
.filterDiv {
  margin-right: 50px;
  }
}  

  @media screen and (max-width: 800px) {        
    .filterDiv {
      margin-right: 25px;
      }
    }

    @media screen and (max-width: 700px) {        
      .filterDiv {
        margin-right: 5px;
        }
      }

      @media screen and (max-width: 600px) {
        .filterDiv {
          margin-right: 20%;
          }
        }
  